body {
  background-color: #fdfdf6;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #4CAF50;
}

.btn-success {
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #45A049;
}

.form-edit-user input,
.form-edit-user textarea {
  background-color: #fdfdf6;
  border: 1px solid #ced4da;
  padding: 10px 20px;
  font-size: 16px;
}

.btn-success {
  background-color: #4CAF50;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #45A049;
}
