{% extends 'base.html.twig' %}

{% block main %}
<h2>Bienvenue dans la messagerie TomTroc</h2>
<p>Utilisez le menu pour accéder à vos conversations.</p>
<a href="{{ path('messagerie') }}" class="btn btn-primary">Voir mes conversations</a>
{% endblock %}
